<div class="login-page">
  <form nz-form>
    <nz-form-item>
      <nz-form-label nzFor="username">用户名</nz-form-label>
      <nz-form-control>
        <input nz-input name="username" id="username">
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzFor="password">密码</nz-form-label>
      <nz-form-control>
        <input nz-input name="password" type="password" id="password">
      </nz-form-control>
    </nz-form-item>
    <div>
      <button nz-button nzType="primary">登录</button>
    </div>
  </form>
</div>
