.main {
  @header-high: 3em;

  & > nz-header {
    height: @header-high;
  }


  & > nz-layout {
    & > nz-sider {
      height: calc(100vh - @header-high);
    }

    .content {
      padding: 5px 10px 10px 10px;
      height: calc(100vh - @header-high);
      overflow: auto;
      background: #f2f2f2;
    }
  }
}
